{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Voer nieuwe wachtwoord in.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nieuw wachtwoord:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Bevestig wachtwoord:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Verander mijn wachtwoord" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Wachtwoord reset mislukt</h1>
        <p>De link om wachtwoord opnieuw in te stellen is niet (meer) geldig, mogelijk omdat de link al is gebruikt.</p>
                <p><a href="{% url 'login' %}">Vraag opnieuw een nieuw wachtwoord aan</a></p>
    {% endif %}
{% endblock %}